h1 {
	font-size: 43px;
	text-align: center;
	margin: 0;
	padding-top: 25px;
}

.buttons {
	width: 100px;
	height: 30px;
	margin: 100px 10px 0 170px;
	box-shadow: none;
	transition: box-shadow 0.3s;
	background: rgb(8, 236, 96);
	cursor: pointer;
}